.search-container-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 10px;

}

.input-label-3 {
    margin-top: 5px;
    margin-right: 15px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 20px;
    line-height: 16px;
    color: #e24141;
}

.username-input-field-search {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
  width: 20%;
}

.button-ticket {
  color: #ffffff;
  border: none;
  width: 230px;
  height: 45px;
  padding: 10px;
  margin-top: 25px;
  margin-left: 1200px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto';
  background-color: rgb(155, 47, 4);
  text-align: center;
}



.button-ticket1 {

  padding: 10px;
  margin-top: 25px;
  margin-left: 1200px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto';

  
}
/* table{
  height: 100vh;
  padding: 20px;
} */
tbody {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-top: 10px;
    margin-left: 100px;
    padding: 25px;
    justify-content: center;
  }

  th{
    border: 1px solid #dddddd;
      height: 50px;
      text-align: left;
  }
  td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    height: 20px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .checkbox {
    margin-left: 25px;
  }

  .margin {
    margin-left: 150px;
  }